 
body{
    color: #545454; 
    font-family: arial,helvetica; 
    background-color: rgb(50, 117, 205); 
}


#ilkParagraf {
    color: red;
}


.koyu {
    color: #000;
}


.acik {
    color: #c1c1c1;
}


.kutu {
    background-color: #fff; 
    padding: 20px; 
    margin: 20px; 
    line-height: 150%; 
}


.kutu ul li span {
    font-weight: bold;
}